*.pyc
*.pyo
*.pyd
__pycache__/
*.so

venv/
env/
ENV/

*.sqlite3
db.sqlite3

*log
*.pot
*.mo
*.coverage
*.py[cod]
*.swp
*.swo
*.DS_Store
*egg-info
*.eggs
*.idea/
*.vscode/

mysite/__pycahce__/
staticfiles/
media/
